<?xml version="1.0" encoding="utf-8" ?>
<starts>
	<Processes>
		<Process>
			<Name>Binance get prices</Name>
			<Directory>C:\Users\New\Desktop\Skymey\</Directory>
			<FileName>Skymey_Binance_Prices.exe</FileName>
			<Agruments></Agruments>
		</Process>
		<Process>
			<Name>Binance get prices2</Name>
			<Directory>C:\Users\New\Desktop\Skymey\2</Directory>
			<FileName>Skymey_Binance_Priceds2.exe</FileName>
			<Agruments>3</Agruments>
		</Process>
	</Processes>
</starts>